.logo{
    width: 200px;
}
button{
    width: 150px;
}
a{
    font-size: 20px;
    font-weight: 600;
}
.search{
    width: 400px;
    height: 38px;
    border-radius: 5px;
    border:0;
}
.search:focus{
    outline: none;
}